.userTable{
    width: 60%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50;
    transition: transform 0.5s ease;
}
.userTable:hover{
    transform: scale(1.02);
}

.addButton{
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.065);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.addButton:hover{
    background-color: rgba(77, 9, 52, 0.869);
}

.userTable table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.userTable table thead th{
    background-color: rgb(13, 133, 125);
    color: white;
    padding: 10px;
}

.userTable table tbody td{
    padding: 10px;
    text-align: center;
}

.actionButtons button{
    border: 0;
    outline: none;
    background-color: red;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.actionButtons button:hover{
    transform: scale(1.2);
}

.actionButtons a{
    background-color: blueviolet;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    margin: 0px 10px;
    text-decoration: none;
    /* transition: transform 0.3s ease; */
}

.actionButtons a:hover{
    transform: scale(1.2); 
}